{% extends 'base.html' %}

{% block body %}
<div class="master">
    <div>
        <h1 class="has-text-link settings_title">Settings</h1>
        <h1 class="title has-text-danger">{{current_user.name}}'s Account</h1>
        <br>
        <br>
        {% if updated %}
        <h1 class="title is-1 has-text-danger">Well done, your settings have been updated!</h1>
        {% endif %}
        <br>
    </div>
    <div class="settings">
        <div class="table_settings">
            {% if current_settings %}
            <h2 class="title has-text-danger is-3">Your current settings are:</h2>
            <div class="table_container">
                <table class="table">
                    <tr>
                        <th>Source</th>
                        <th>Quantity</th>
                    </tr>
                    <tr>
                        <td>BBC</td>
                        <td>{{ current_settings.BBC_quant }}</td>
                    </tr>
                    <tr>
                        <td>Daily Mail</td>
                        <td>{{ current_settings.DM_quant }}</td>
                    </tr>
                    <tr>
                        <td>The Sun</td>
                        <td>{{ current_settings.TS_quant }}</td>
                    </tr>
                </table>
            </div>
            {% endif %}
            <br>
        </div>
        <div class="dropdowns">
            <form action="/settings_update" method="POST">
                <div class="selections_container">
                    <div class="bbc_drop">
                        <h3 class="dropdown_title">BBC articles desired:</h3>
                        <div class="select is-danger">
                            <select name="BBC">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="dm_drop">
                        <h3 class="dropdown_title">Daily Mail articles desired:</h3>
                        <div class="select is-danger">
                            <select name="DM">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="ts_drop">
                        <h3 class="dropdown_title">The Sun articles desired:</h3>
                        <div class="select is-danger">
                            <select name="TS">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                </div>
                <input type="submit" class="button is-large is-link is-rounded" id="search_btn" value="Confirm changes"> 
            </form>
        </div>
    </div>
</div>

  
{% endblock %}